PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/
SEMANTIC_SCHOLAR_API=https://api.semanticscholar.org/graph/v1
SERPAPI_API_KEY=your_serpapi_key_here
IEEE_API_KEY=your_ieee_key_here
CRON_SCHEDULE=0 * * * *
MAX_CONCURRENT_BOTS=3
